$c43teal: #148D9D;
$c43gold: #FFC116;


.card{
    margin-left: auto;
    margin-right: auto;
    height: 572px;
}

.card-img-top{

}

.card-focus-banner{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.card-focus-banner--uiux{
    background-color: $c43gold;
}

p {
    color: #383838;
    font-size: 1em;
    /* letter-spacing: 4px; */
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.card-focus-banner > p {
    align-items: center;
}

.card-focus-banner p{
    margin: 8px 0;
    font-size: 1em;
    font-weight: bold;
}

.card-name{
    font-size: 2em;
}

.icons {
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; 
}


// -------- .btn-box holds the link icon and the text below the icon --------

.btn-box{
    display: block;
    height: 50px;
}

// ---- Text below icon ----
.btn-box p {
    // z-index: 1;
    transition: all ease-in-out 0.2s;

    bottom: 0;
    text-transform: none;
    opacity: 0%;
    color: black;
    font-size: 0.85em;
}

// move the link icon down so it can move up when hovered-over
.btn-box .btn-link{
    position: relative;
    top: 20px;
    transition: ease-in-out 0.2s;
}

// ------ Link Icon -------
.btn-link{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
    // z-index: 2; // buttons rest on top of text
    
}

// ---- Hovering over .btn-box moves the link icon btn
.btn-box:hover > .btn-link{
    transform: translateY(-24px);
}

.btn-box:hover > p{
    opacity: 100%;
    bottom: 10px;
    color: black;
    text-transform: none;
    font-size: 0.85em;
}


//   .btn-link n{
//     display: block;
//     width: 2px;
//     height: 38px;
//     background: #383838;
//     position: absolute;
//     left: 50%;
//     margin-left: -1px;
//     transform: translateY(60px);
//     transition: 0.4s;
//   }
//   .btn-link n:after,
//   .btn-link n:before {
//     content: "";
//     width: 2px;
//     height: 17.5px;
//     background: #383838;
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform-origin: 0 0;
//     transform: rotate(-45deg);
//   }
//   .btn-link n:before {
//     transform-origin: 2px 0px;
//     transform: rotate(45deg);
//   } 





@import '~bootstrap/scss/bootstrap.scss'; 