$c43teal: #148D9D;
$c43gold: #FFC116;


.card{
    margin-left: auto;
    margin-right: auto;
}

.card-focus-banner{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.card-focus-banner--uiux{
    background-color: $c43gold;
}

p {
    color: #383838;
    font-size: 1em;
    /* letter-spacing: 4px; */
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.card-focus-banner > p {
    align-items: center;
}
  
.icons {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
  
.card-focus-banner p{
    margin: 8px 0;
    font-size: 1em;
    font-weight: bold;
}


  /* upload */

.btn-primary{
    background-color: transparent;
    color: black;
}

.btn-link{
    display: block;
    background-color: yellow;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
}

// .btn-link:after {
//     box-sizing: border-box;
//     display: block;
//     content: "";
//     width: 40px;
//     height: 40px;
//     /* border: 2px solid #383838; */
//     /* border-radius: 0px;*/
//     position: absolute; 
//     bottom: 0;
// }
.btn-link:hover {
    transform: translateY(-10px);
}


//   .btn-link n{
//     display: block;
//     width: 2px;
//     height: 38px;
//     background: #383838;
//     position: absolute;
//     left: 50%;
//     margin-left: -1px;
//     transform: translateY(60px);
//     transition: 0.4s;
//   }
//   .btn-link n:after,
//   .btn-link n:before {
//     content: "";
//     width: 2px;
//     height: 17.5px;
//     background: #383838;
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform-origin: 0 0;
//     transform: rotate(-45deg);
//   }
//   .btn-link n:before {
//     transform-origin: 2px 0px;
//     transform: rotate(45deg);
//   } 





@import '~bootstrap/scss/bootstrap.scss'; 