#about  {
    position: relative;
    z-index: 1;
    
    &:before,
    &:after {
      background: #148D9D;
      content: '';
      display: block;
      height: 75%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  
    &:before {
      top: 0;
      transform: skewY(4deg);
      transform-origin: 0% 0;
    }
    
    &:after {
      bottom: 0;
      transform: skewY(0deg);
      transform-origin: 100%;
    }
  }

  #about-container {
      display: flex;
      justify-content: center;
  }

  .about-text {
      width: 80%;
      font-size: large;
      text-align: left;
  }
  .page-section-heading {
     margin-bottom: 3em; 
  }