.img-icon{
    height: 120px;
    width: auto;
}

.col-2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#tech-section {
    scroll-margin-top: 100px;
 }

 #icon-container{
    display: flex;
    justify-content: center;
 }

 #tech-text{
     font-size: 1.3em;
     margin-top: 0.5em;
     margin-bottom: 1em;
 }