.img-icon{
    height: 80px;
    width: auto;
}

.tech-stack{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
}

#tech-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 141, 157);
 }

 #tech-card-text{
     font-size: 1.3em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
 }

 .tech-text{
     color: white;
 }
 
 #everyone-tech{
     margin-bottom: 2.5em;
     width: 100%;
 }

 #front-end-tech{
     margin-top: 2.5em;
     margin-bottom: 2.5em;
     padding-top: 1em;
     padding-bottom: 1em;
     padding-left: 3em;
     flex-grow: 1;
 }
 
 #full-stack-tech{
     margin-top: 2.5em;
     margin-bottom: 2.5em;
     padding-top: 1em;
     padding-bottom: 1em;
     padding-right: 3em;
 }

 #fs-row{
     align-self: flex-end;
     display: flex;
     flex-flow: row;
 }

 #fe-row{
     display: flex;
     flex-flow: row;
     align-self: flex-start;
 }
 
 #e-row{
     display: flex;
     flex-flow: row;
 }
 
 #right-slant{
    width: 0;
    height: 0;
    border-bottom: 157px solid rgb(255, 255, 255);
    border-right: 100px solid transparent;
    margin-top: 2.52em;
 }
 #left-slant{
    width: 0;
      height: 0;
      border-top: 182px solid rgb(255, 255, 255);
      border-left: 100px solid transparent;
      margin-top: 2.5em;
 }

 .full-width{
     width: 100%;
 }

 .left-aligned{
    text-align: left;
    margin: 2.2em 10em 0 3.5em;
}

.right-aligned{
   text-align: right;
   margin: 2.2em 3.5em 0 10em;
  
}

.tech-header{
    font-size: 36px;
}