$teal: #148D9D;
$darkTeal: #117785;
$gold: #FFC116;

#thanks {
    padding-top: 75px;
    scroll-margin-top: 100px;
    background-color: white !important;
}

#thanks h2 {
    color: $teal !important;
}

#thanks h4 {
    color: #222;
    margin-bottom: 1rem;
    font-weight: bold;
}

#thanks .divider-custom-line {
    // background-color: $teal;
}

#thanks .thanksIcon {
    color: $teal !important;
}

#thanks p {
    color: #222;
    text-transform: none;
    font-size: 1rem;
}

.thanksLead {
    text-align: left;
}