.footer {
    background-color: #148D9D;
}

.cohortLocationsList {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding-left: 0;
}

.cohortLocationsList li {
    flex: 0 0 auto;
    flex-shrink: 0;
}

.copyright {
    background-color: #117785;
    padding: 10px 0 !important;
}