.footer {
    background-color: #148D9D;
}

.cohortLocationsList {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.copyright {
    background-color: #117785;
    padding: 10px 0 !important;
}