#boxes {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#boxes h3 {
  color: $teal !important;
  padding-left: 5rem;

  font-size: 2.5rem
}
#boxes h2 {
  font-size: 1.5rem
}

.FSText {
  color:white;
  margin-left: 1rem;
}
.FEText {
  margin-left: 1rem;
}

.Rectangle {
  margin-left: 5rem;
  padding-top: .6rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  width: 32rem;
  min-height: 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

}
.FE {
  background-color: $yellow;
}
.Full {
  background-color: $teal;
}

.devHeader {
  justify-content: center;
  display: flex;
  h3 {
    margin-bottom: 0.8em;
    margin-top: 70px;
    font-size: 3em;
    font-weight: normal;
  }
}


@keyframes check {0% {height: 0;width: 0;}
25% {height: 0;width: 10px;}
50% {height: 20px;width: 10px;}
}
.checkbox{background-color:#fff !important;display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid #ccc;float:left}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .info:after{border-color:$yellow !important}
.checkbox input:checked + .warning:after{border-color:$teal !important}
