$teal: #148D9D;
$darkTeal: #117785;
$gold: #FFC116;

.footerContainer  {
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        background: $teal;
        content: '';
        display: block;
        height: 75%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    &:before {
        top: 0;
        transform: skewY(-4deg);
        transform-origin: 0% 0;
    }

    &:after {
        bottom: 0;
        transform: skewY(0deg);
        transform-origin: 100%;
    }
}

footer {
    background-color: $teal !important;
    padding: 50px 0 !important;
}

footer h4 {
    color: $gold;
}

footer p {
    color: white;
    text-transform: none;
    font-size: 1rem !important;
}

.cohortLocationsList {
    column-count: 2;
    list-style: none;
    padding-left: 0;
}

.cohortLocationsList li {
    flex: 0 0 auto;
    flex-shrink: 0;
    color: white;
}

.copyright {
    background-color: $darkTeal;
    padding: 10px 0 !important;
}

.learnMoreBtn {
    color: white;
    background-color: $darkTeal;
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
}

.learnMoreBtn:hover {
    color: white;
    background-color: rgba(0, 0, 0, .25);
    text-decoration: none;
}