
.masthead {
    display: flex;
    padding-top: calc(.5rem + 74px);
    .masthead-heading {
        color: #222222;
        font-size: 2.5rem !important;
        font-weight: 500 !important;
        line-height: 3rem !important;
    }
    .masthead-subheading {
        font-size: 1.25rem;
    }
    .cohort-43-logo {
        width: 7.375rem;
        height: 7.375rem;
    }

    }

.masthead-container {
    display: flex;
    flex-direction: column;
    justify-content: flex start;

    text-align: left;
    padding-top: 0;
    margin-bottom: 1rem;
    max-width: 65%;
}
.logoContainer {
    width: 100%;
    text-align: right;
}

@media (min-width: 768px){
    .masthead-container {
        display: flex;
        flex-direction: column;
        justify-content: flex start;
    
        text-align: left;
        padding-top: 0;
        max-width: 70%;
    }
    .masthead {
        display: flex;
        justify-content: space-around;
        padding-top: calc(3.5rem + 74px);
        .masthead-heading {
            color: #222222;
            font-size: 5rem !important;
            font-weight: 400 !important;
            line-height: 6rem !important;
        }
        .masthead-subheading {
            text-align: left;
            font-size: 1.5rem;
        }

        .cohort-43-logo {
            width: 15.625rem;
            height: 15.625rem;
        }
    }
    
}

@media (min-width: 992px){
    .masthead {
        display: flex;
        justify-content: space-around;
        padding-top: calc(3.5rem + 74px);
        .masthead-heading {
            color: #222222;
            font-size: 6rem !important;
            font-weight: 500 !important;
            line-height: 7.5rem !important;
        }
        .masthead-subheading {
            font-size: 1.25rem;
        }
        .cohort-43-logo {
            width: 17.625rem;
            height: 17.625rem;
        }
    }
    .masthead-container {
        display: flex;
        flex-direction: column;
        justify-content: flex start;
    
        text-align: left;
        padding-top: 0;
        margin-bottom: 1rem;
        max-width: 65%;
    }
}

@media (min-width: 1200px){
    .masthead {
        display: flex;
        justify-content: space-around;
        padding-top: calc(3.5rem + 74px);
        .masthead-heading {
            color: #222222;
            font-size: 6rem !important;
            font-weight: 500 !important;
            line-height: 7.5rem !important;
        }
        .masthead-subheading {
            font-size: 1.25rem;
        }
        .cohort-43-logo {
            width: 20.625rem;
            height: 20.625rem;
        }
    }
    .masthead-container {
        display: flex;
        flex-direction: column;
        justify-content: flex start;
    
        text-align: left;
        padding-top: 0;
        margin-bottom: 1rem;
        max-width: 65%;
    }
}

.cohort-43-logo {
    align-self: right;
    margin-right: 2rem;
}