.masthead {
    // min-height: 37.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: calc(3.5rem + 74px);
    .masthead-heading {
        color: #222222;
        font-size: 5rem !important;
        font-weight: 500 !important;
        line-height: 6.5rem !important;
    }
    .masthead-subheading {
        font-size: 1.25rem;
    }
}

.masthead-container {
    display: flex;
    flex-direction: column;
    justify-content: flex start;

    text-align: left;
    padding-left: 2em;
    padding-top: 0;
    margin-bottom: 1rem;
    max-width: 65%;
}

@include media-breakpoint-up(lg) {
    .masthead-container {
        display: flex;
        flex-direction: column;
        justify-content: flex start;
    
        text-align: left;
        padding-left: 2em;
        padding-top: 0;
        max-width: 70%;
    }
    .masthead {
        // min-height: 37.5rem;
        display: flex;
        justify-content: space-around;
        padding-top: calc(3.5rem + 74px);
        .masthead-heading {
            color: #222222;
            font-size: 7rem !important;
            font-weight: 400 !important;
            line-height: 9rem !important;
        }
        .masthead-subheading {
            text-align: left;
            font-size: 1.5rem;
        }
    }
}

.cohort-43-logo {
    align-self: right;
    margin-right: 2rem;
    
    @media (min-width: 23.4375rem) {
        width: 9.375rem;
        height: 9.375rem;
    }
    
    @media (min-width: 37.5rem) {
        width: 15.625rem;
        height: 15.625rem;
    }

    @media (min-width: 50rem) {
        width: 18.75rem;
        height: 18.75rem;
    }

}